@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* General page reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('images/nebulosa.webp') no-repeat center center fixed;
    background-size: cover;
}

.centered {
    text-align: center;
    color: white;
}

h1 {
    font-size: 6em;
    letter-spacing: 0.1em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 30px;
    font-size: 1.5em;
    margin: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

